body{
  background:#8bc3df;
}
h1{
  text-align:center;
  letter-spacing: 3px;
  font-family:sans-serif
}
p{
  font-size:15px;
  text-align:center;
  font-family:monospace
}
a{
  Border-style:solid;
  border-color:#3f56bc;
  border-radius:5px;
  padding:3px;
  background-color:#b8defd;
}
.top-img {
  width:200px;
  border-style:double;
  border-radius:10px;
  border-color:#000000;
  border-width:3px;
  float:right;
}
h6{
  Text-align:right;
}
.main-img{
  border-style:dotted;
  border-radius:10px;
  border-color:#045c3e;
  border-width:4px;
  padding:2px;
}
a{ 
text-decoration: none;
}
.animal-rights{
  border-style:double;
  background-color:#e1f3f3;
}
.why-animal{
  border-style:dotted;
  background-color:#e6dbef;
}
.basic-rights{
  border-style:groove;
  border-color:cadetblue;
  background-color:#94bebf;
}
